<div class="search-field">
  <input placeholder="Search contacts..." type="text" (keyup)="searchText$.next($event.target.value)"/>
</div>
<ul class="order-by">
  <li *ngFor="let field of orderByFields" [ngClass]="{active: orderByField == field}" (click)="orderBy(field)">
    {{field}}
    <fa-icon *ngIf="orderByField == field && orderByReverse" [icon]="['fas', 'sort-alpha-up']"></fa-icon>
    <fa-icon *ngIf="!(orderByField == field && orderByReverse)" [icon]="['fas', 'sort-alpha-down']"></fa-icon>
  </li>
</ul>
<ul class="contacts">
  <li *ngFor="let contact of contacts$ | async | contactSearch:searchText | orderBy:orderByField:orderByReverse | slice:0:10 as contacts">
    <app-contact [contact]="contact" [highlightText]="searchText"></app-contact>
  </li>
</ul>
