/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #141414;
    color: #ffffff;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

* {
    box-sizing: border-box;
}

.active, mark {
    background-color: #c8ffc0;
    color: #212121;
}